@use "sass:color";
@use 'base/variables' as v;

.alerta {
    padding: 1rem 1rem 1rem 2rem;
    text-transform: uppercase;
    font-weight: 900;
    margin: 1rem 0 ;
    font-size: 1.2rem;
    max-width: 80rem;

    &.error {
        background-color: color.scale(v.$rojo, $lightness: 80%);
        border-left: .5rem solid v.$rojo;
        color: v.$rojo;
    }

    &.exito {
        background-color: color.scale(v.$verde, $lightness: 60%);
        border-left: .5rem solid v.$verde;
        color: v.$verde;
    }
}