@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 5rem;

    .campo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input {
            //flex: 1;
            font-size: 1.4rem;
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: .5rem;
            background-color: color.adjust(v.$gris, $lightness: 40%);
        }
    }

    .subir-imagen {

        .imagen {
            input[type="file"] {
                display: none;
                justify-content: center
            }

            .btn-imagen {
                @include m.boton(v.$cyan, v.$blanco);

                & {
                    padding: 1rem;
                    border-radius: .5rem;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

                @include m.telefono {
                    width: auto;
                }
            }

            .preview-img {
                max-width: 10rem;
                margin-top: .8rem;
                border-radius: .5rem;
                display: block;
            }
        }

    }

}