@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 5rem;

    .campo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

        label {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        input {
            flex: 1;
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: .5rem;
            background-color: color.adjust(v.$gris, $lightness: 40%);
        }
    }

}