//Fuentes
$fuente_headings: 'Inter', sans-serif;
$fuente_textos: 'Open Sans', sans-serif;

// Tamñaos de Medias Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$cyan: #0891B2;
//$azul: #2562EB;
$indigo: #4338CA;
//$morado: #7C3AED;
$naranja: #F59E0B;
$naranjaOscuro: #E65100;
$rosa: #DB2777;

$blanco: #FFFFFF;
$gris: #6B7280;
$grisOscuro: #4B5563;
$negro: #000;
$grisClaro: #f3f4f6;

$rojo: rgb(169, 0, 0);
$verde: rgb(0, 120, 0);

// COLORES DEL ESTATUS DE UNA ORDE
$azul: #3498DB;
$ambar: #F39C12;
$verdeAzulado: #2ECC71;
$rojoSuave: #E74C3C;
$morado: #8E44AD;

$separacion: 5rem;