@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {
    margin-top: 5rem;
    .clic_eat {
        @include m.textoDegradado (v.$cyan);
    }

    input[type="submit"]{
        @include m.boton(v.$cyan, v.$blanco);
    }

    .acciones {
        a {
            color: v.$cyan;
        }
    }
} 