@use 'base/variables' as v;
@use 'base/mixins' as m;

.olvide {
    margin-top: 5rem;

    .clic_eat {
        @include m.textoDegradado(v.$rosa);
    }

    input[type="submit"] {
        @include m.boton(v.$rosa, v.$blanco)
    }

    .acciones {
        a {
            color: v.$rosa;
        }
    }
}