@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.modal {
    position: absolute;
    background-color: rgb(0 0 0 / .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .formulario {
        max-width: 60rem;
        background-color: v.$blanco;
        padding: 2rem;
        margin: 0 auto;
        transform: translateY(-30rem);
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        opacity: 0;
        border-radius: 1rem;

        legend {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            display: block;
        }

        input[type='text'] {
            border: 1px solid v.$gris;
            border-radius: .5rem;
        }

        .opciones,
        .contenedor-estatus {
            display: flex;
            justify-content: space-between;
        }

        .submit-nuevo-producto,
        .submit-nuevo-rol {
            @include m.boton(v.$naranjaOscuro, v.$blanco);
        }

        .cerrar-modal {
            text-transform: uppercase;
            @include m.boton(v.$naranja, v.$blanco);
            
        }

        &.animar {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar {
            transform: translateY(-200%);
            opacity: 1;
        }
    }

    // 游댳 Versi칩n m치s grande y con 3 columnas
    &.modal--grande {
        .formulario {
            max-width: 50rem;
            padding: 2rem;

            legend {
                font-size: 1.4rem;
            }

            // 游댲 Distribuye los campos en 3 columnas
            .campos {
                display: flex;
                flex-direction: column;
                gap: 1rem; // separaci칩n entre columnas
                margin-bottom: .5rem;

                @include m.tablet {
                    display: grid;
                    grid-template-columns: 2fr 1fr 1fr, ;
                    column-gap: 2rem; // entre columnas
                    row-gap: 1rem; // entre filas
                }
            }

            .campos-pago {
                display: flex;
                flex-direction: column;
                gap: 1rem; // separaci칩n entre columnas
                margin-bottom: .5rem;

                @include m.telefono {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr, ;
                    column-gap: 2rem; // entre columnas
                    row-gap: 1rem; // entre filas
                }
            }

            .campo {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: .5rem;
                justify-content: space-around;

                label {
                    font-weight: bold;
                    margin-bottom: .5rem;
                    font-size: 1.3rem;
                }

                input[type='text'] {
                    padding: .5rem;
                    font-size: 1.2rem;
                }

                .ver-comprobante-btn {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    padding: 6px 10px;
                    color: inherit;
                    text-decoration: none;
                    font-size: 1.4rem;
                    cursor: pointer;
                }

                button,
                p {
                    border: none;
                    font-size: 1rem;
                    padding: .5rem 1rem;
                    text-transform: uppercase;
                    font-weight: 900;
                    border-radius: 1rem;

                }
                
                button:hover {
                    cursor: pointer;
                }
                .pendiente {
                    background-color: color.adjust(v.$grisClaro, $lightness: -5%);
                    color: v.$negro;
                }

                .confirmado {
                    background-color: v.$azul;
                    color: v.$blanco;
                }

                .rechazado {
                    background-color: v.$morado;
                    color: v.$blanco;
                }

                .reembolzado {
                    background-color: v.$indigo;
                    color: v.$blanco;
                }


            }

            .comprobante {
                display: grid;
                grid-template-columns: 80% 20%;
                gap: .5rem;

                button[type="submit"] {
                    background-color: v.$grisClaro;
                }
            }

            .contenedor-tabla {
                margin-bottom: 1.5rem;

                tr {
                    font-size: 1.2rem;
                }

            }

            // 游댲 Campos que deben ocupar las 3 columnas
            .campo-nota,
            .campo-direccion,
            .campo-referencia {
                @include m.tablet {
                    grid-column: 1/4;
                }
            }
        }
    }

    .subir-imagen {

        @include m.telefono {
            display: flex;
            justify-content: space-around;
        }

        .imagen {

            align-items: center;

            .btn-imagen {
                justify-content: center;
            }

            .preview-img {
                max-width: 10rem;
                margin-top: .8rem;
                border-radius: .5rem;
                display: block;
            }
        }

    }

}