@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-ordenes {
    .no-ordenes {
        text-align: center;
        font-style: italic;
        padding: 2rem;
    }
}

.orden,
.producto-orden {
    border-bottom: 1px solid color.adjust(v.$gris, $lightness: 45%);
    transition: background-color 0.2s ease;

    &:hover {
        background-color: color.adjust(v.$blanco, $lightness: -3%);
    }

    td {
        padding: .5rem 1rem;
        text-align: center;
        color: v.$grisOscuro;
    }

    .opciones,
    .contenedor-estatus {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;

        button {
            border: none;
            font-size: .9rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: 900;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        .detalle-orden {
            background-color: v.$azul;
            color: v.$blanco;
        }

        .cancelar-orden {
            background-color: v.$rojo;
            color: v.$blanco;
        }

        .pendiente {
            background-color: color.adjust(v.$grisClaro, $lightness: -5%);
            color: v.$negro;
        }

        .confirmada {
            background-color: v.$azul;
            color: v.$blanco;
        }

        .en-proceso {
            background-color: v.$ambar;
            color: v.$blanco;
        }

        .enviada {
            background-color: v.$verdeAzulado;
            color: v.$blanco;
        }

        .entregada {
            background-color: v.$verde;
            color: v.$blanco;
        }

        .cancelada {
            background-color: v.$rojoSuave;
            color: v.$blanco;
        }

        .rechazada {
            background-color: v.$morado;
            color: v.$blanco;
        }
    }
}